/* Low resolution Tablets and iPads */
@media (min-width: 481px) and  (max-width: 767px) {
    /* .inicio {
        margin-top: 5rem;
       justify-content: flex-start;
    }
    .logo {
        display: none;
    }
    .container-inicio {
        width: 100%;
        margin: 0;
    }
    .conteudo-inicio {
      width: 90%;
    }
    .logo-inicio {
        width: 80%;
    }  */
   
    
    #conteudo-sobre-02 {
        flex-direction: row;
      }
}
        
/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1023px){
    
}
    
/* Laptops and Desktops */
@media (min-width: 1024px) {
	.header{}
	.logo {display: flex;max-width: 700px;}
	#navigation-menu-wrapper {display:flex;max-width: 700px;}
    #navigation-menu {
  		display: flex;
	}	
    .container section {
        
      }
    .inicio {
        justify-content: center;
        background-image: url('../img/bg-inicio.webp');  
        
      }

    .container-inicio {
        width: 50%;
      }

    .conteudo-inicio {
        
    }

    .textos-sobre p,
    .textos-sobre-2 > p {
    	
    }
    .container-servicos,
    .servicos,
    .sobre {
    display: flex;
    background-color: var(--principal-color);
    }
    .sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    }
    .container-sobre {
    width: 100%;
    height: auto;
   
    }
    .conteudo-sobre {
    	width: 100%;
    	height: auto;
	gap: 1.5rem;
    
    }

    .left-sobre {
        color: var(--color-white);
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #conteudo-sobre-02 {
        flex-direction: row;
      }
      
      .textos-sobre, 
      .textos-sobre-2, .textos-sobre> span,
      .textos-sobre-2 > span {
          font-size: 2.5rem;
      }
      
      .textos-sobre > span {
        color: #e4ded7;
      }
      .footer p a:hover,
      .social-links a:hover,
      .textos-sobre-2 > p > span {
        color: var(--color-destaque1);
      }
      .right-sobre {
        justify-content: center;
        align-items: center;
      }
      
      .textos-sobre-2 {
        color: #e4ded7;
      }
      .textos-sobre-2 > p > span {
        font-weight: 900;
      }
      .img-sobre,
      .img-sobre-02 {
        width: 90%;
	height: auto;
      }
      
      .img-sobre-02 {
        border-radius: 30px;
      }
      .container-servicos {
        width: 100%;
        max-width: 1400px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .card-titulo > h1 {
        font-size: 1.9rem;
        font-family: var(--font-cards);
        font-weight: 600;
        margin-bottom: 0.65rem;
      }
      .footer-direitos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
      }
      .footer-botoes-b {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color-white);
        color: var(--principal-color);
        cursor: pointer;
        z-index: 1000;
        transition: opacity 0.5s, box-shadow 0.5s;
      }
      #backToTop {
        display: flex;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      #whatsappButton {
        display: flex;
        width: 100px;
        height: 100px;
        background-color: #25d366;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
        animation: 2s infinite pulse;
        transform-origin: center;
      }
      #whatsappButton i {
        font-size: 48px;
      }
      .credits-column {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        font-size: 0.9rem;
        text-align: right;
        padding: 0 2rem;
        margin-bottom: 1rem;
      }
    .menu, .menu-aberto {
        display: none;
    }
}

