/******************** Fontes usadas */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('clash-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'ClashGrotesk-Light', sans-serif;
    --font-menu: 'Montserrat', sans-serif;
    --font-cards: "Roboto", sans-serif;
    --principal-color: #072442;
    --bg-color: #e4ded7;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: #c99e67;
    --color-destaque2: #728e6f;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--principal-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray1);
    border-radius: 20px;
    border: 3px solid var(--principal-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray2);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--principal-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pequena);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container section {    
    max-width: 1400px;
}

/*************** HEADER *****/
.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .9rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    background-color: var(--principal-color); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    box-shadow: 0px 4px 20px 2px rgba(7, 36, 66, 0.5);
}

/* Logo */
.logo {
    width: 100%;
    padding-left: 1.5rem;
}

.logo img {
    width: 200px;
}
#navigation-menu-wrapper {
    width: 100%;
    align-self: right;
}

#navigation-menu {
    justify-content: right;
    padding: 1rem;
}

#navigation-menu-list {
    display: flex;
    gap: 1rem;
    justify-content: right;
}

#navigation-menu-list li {
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease;
}

#navigation-menu-list > li > a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    font-family: var(--font-menu);
}


#navigation-menu-list li a:hover {
    color: var(--color-destaque1);
    transition: all 0.3s ease;
}

.navigation-menu-list li a.active {
    color: var(--color-destaque1);
    border-bottom: 2px solid var(--color-destaque1);
    padding-bottom: .5rem;
}

/* Menu */
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Menu Navegação */
.menu-aberto {
    background-color: var(--principal-color);
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.menu-aberto.active {
    height: 100vh;
    opacity: 1;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
    user-select: none;
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-pequena);
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
    opacity: 1;
    transform: translateY(0);
}

.nav-menu a:hover {
    color: var(--color-destaque1);
    transition: all 0.3s ease;
}

/*************** INICIO *****/
.inicio {
    width: 100%;
    height: 100%;       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    user-select: none;
    background-color: var(--bg-color);
}

#bg-inicio {
    width: 100%;
    opacity: 0.63;
}

.container-inicio {
    width: 30%;
    height: auto; 
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: absolute;  
    right: 0;
    margin-right: 200px;
}

.conteudo-inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
}

.logo-inicio {
    max-width: 100%;
}
.logo-inicio img {
    max-width: 100%;
}

.paragrafo-inicio p {
    font-size: clamp(1rem, 5vw, 1.6rem);
    max-width: 900px;
    color: var(--principal-color);
    font-family: var(--font-menu);
    font-weight: 600;
}

/* Botão Inicio */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--principal-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: var(--font-pequena);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--principal-color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--color-destaque1);
}

.cta:hover svg {
    transform: translateX(0);
    stroke: var(--principal-color);
}

.cta:active {
    transform: scale(0.95);
}

.cta-servicos {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background-color: var(--color-destaque1);
    border-radius: 25px;
    cursor: pointer;
}

.cta-servicos span {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

.cta-servicos span {
    position: relative;
    font-family: var(--font-pequena);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.cta-servicos svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--principal-color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}


/*************** SOBRE *****/
.sobre {
    background-color: var(--principal-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    z-index: 1;
    user-select: none;
    overflow: visible;
}

.container-sobre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteudo-sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}

.left-sobre {
    color: var(--color-white);
    width: 50%;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;    
}

.textos-sobre p {
    font-size: clamp(1rem, 5vw, 1.95rem);
    color: var(--color-destaque1);
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-align: justify;
}

.textos-sobre p > span {
    color: #e4ded7;
    font-size: clamp(1rem, 5vw, 1.8rem);
    font-weight: 900;
}

.right-sobre {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.textos-sobre-2 > p {
    font-size: clamp(1rem, 5vw, 1.8rem);
    color: #e4ded7;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-align: justify;
}

.textos-sobre-2 > p > span {
    color: var(--color-destaque1);
    font-size: clamp(1rem, 5vw, 1.8rem);
    font-weight: 900;
    
}

.img-sobre {
    width: 80%;
}
.img-sobre > img {
    width: 100%
}
.img-sobre-02 {
    width: 80%;
}
.img-sobre-02 > img {
    width: 100%;
    border-radius: 30px;
}

/*************** SERVIÇOS *****/
.servicos {
    background-color: var(--principal-color);
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

.container-servicos {
    background-color: var(--principal-color);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headline-servicos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-servicos {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.titulo-servicos  h1 {
    color: #e4ded7;
    width: 100%;
    font-size: 5vw;
    font-weight: lighter;
    font-family: var(--font-grande);
    text-align: left;
}


.servicos-cards {
    width: 100%;
    height: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}

.card-servicos {
    max-width: 325px;
    height: 290px;
    display: inline-flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .95rem 0.5rem;
    background: rgb(201,158,103);
    background: linear-gradient(180deg, 
        rgba(201, 158, 103, 1) 0%, 
        rgba(201, 158, 103, 0.9) 10%, 
        rgb(255, 215, 184) 60%, 
        rgba(7, 36, 66, 1) 100%
    );
    border-radius: 25px;
    text-align: center;        
    margin-bottom: .9rem;
    /* box-shadow: 
        5px 5px 15px rgba(201, 158, 103, 0.3), 
        10px 10px 20px rgba(201, 158, 103, 0.15); */
}

.card-servicos-left {
    max-width: 325px;
    height: 290px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .95rem 0.5rem;
    background: rgb(201,158,103);
    background: linear-gradient(180deg, 
        rgba(201, 158, 103, 1) 0%, 
        rgba(201, 158, 103, 0.9) 10%, 
        rgb(255, 215, 184) 60%, 
        rgba(7, 36, 66, 1) 100%
    );
    border-radius: 25px;
    text-align: center;
    margin-bottom: .9rem;
    /* box-shadow: 
        5px 5px 15px rgba(201, 158, 103, 0.3),
        10px 10px 20px rgba(201, 158, 103, 0.15); */
}

.card-titulo > h1 {
    font-size: clamp(1.3rem, 5vw, 1.6rem);
    font-family: var(--font-cards);
    font-weight: 600;
    margin-bottom: .65rem;
}
.card-titulo p {    
    font-size: clamp(1rem, 5vw, 1.4rem);
    font-family: var(--font-cards);
}


/*************** FOOTER *****/
.footer {
    background-color: var(--principal-color);
    width: 100%;
    padding: 3rem 1rem 1rem 1rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p {
    font-size: clamp(.5rem, 5vw, .8rem);
}
.footer p a {
    text-decoration: none;
    color: var(--bg-color);
}

.footer p a:hover {
    text-decoration: none;
    color: var(--color-destaque1);
}
.container-footer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 3rem;
}

.logo-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.logo-footer img {
    width: 65%;
}
.logo-footer h2 {
    font-size: clamp(1.4rem, 1.9rem, 5vw);
    font-family: var(--font-menu);
    font-weight: 400;
}

.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.logo-column {
    align-items: flex-start;
}

.logo-column img {
    width: 100px;
}

.menu-column {
    text-align: center;
}

.social-column {
    width: 100%;
    text-align: right;
}

.social-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    justify-content: center;
    padding: 1rem;
}

.social-links a {
    
    text-decoration: none;
    color: var(--color-white);
    font-size: clamp(1rem, 2rem, 5vw);
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}
.social-links li {
    text-align: left;
}

.social-links a i {
    font-size: clamp(2rem, 3rem, 5vw);
    margin-right: 1rem;
    color: #c99e67;
}

.social-links a:hover {
    color: var(--color-destaque1);
}

.footer-direitos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.footer-botoes-b {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--principal-color);
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#backToTop {    
    display: flex;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

#whatsappButton {      
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #25D366;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5); 
    animation: pulse 2s infinite;
    transform-origin: center;
}

#whatsappButton i {
    font-size: 48px;
    color: #fff;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}
.credits-column {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    font-size: 0.9rem;    
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.credits-column p {
    margin: 0.2rem 0;
}
.credits-column img {
    max-width: 150px;
}

@media (min-width: 600px) {
    .conteudo-skills {
        grid-template-columns: repeat(2, 1fr);
    }
    
}


